extends layout

block content
    h1= title
    p Welcome to #{title}
    form(method="post", action="/screen")
        input(name="page_id", placeholder="page_id")
        input(name="page_url", placeholder="page_url")
        input(name="token", type="hidden" value="#{secret_token}")
        select(name="view_port")
            option(value="null", selected=true)
                | select view port
            option(value="ipad_pro")
                | ipad_pro (1024_1366)
            option(value="iphone_6")
                | iphone_6 (375x667)
            option(value="desktop_1")
                | Desktop (1024x768)
            option(value="desktop_2")
                | Desktop (1280x720)
            option(value="desktop_3")
                | Desktop L (1920x1080)
        button(type="submit")
            | submit
